//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-panel--informational {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(7);
  text-align: left;

  h2.govuk-heading-m {
    color: govuk-colour("white");
  }

  p.govuk-body {
    color: govuk-colour("white");
    text-align: left;
  }
}
