//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-panel--informational {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(7);
  text-align: left;

  h2.govuk-heading-m {
    color: govuk-colour("white");
  }

  p.govuk-body {
    color: govuk-colour("white");
    text-align: left;
  }
}

.highlight-box{
  padding: 20px 30px;
  background-color:#f3f2f1;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

//all ops pages code

.ops{

  .govuk-service-navigation {
    border-bottom: 0;
  }

  .service-navigation--secondary{
    border-bottom: 1px solid #8eb8dc;
  }

  /* line 1, app/assets/stylesheets/components/train.scss */
  .train {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
  }

  @media (min-width: 780px) {
    /* line 1, app/assets/stylesheets/components/train.scss */
    .train {
      flex-direction: row;
    }
  }

  /* line 12, app/assets/stylesheets/components/train.scss */
  .train hr {
    min-height: 100%;
  }

  /* line 21, app/assets/stylesheets/components/train.scss */
  .train .train__carriage .train__carriage__body {
    margin-bottom: 0px;
    text-align: center;
  }


  @media (min-width: 40.0625em) {
    /* line 12, app/assets/stylesheets/components/panel.scss */
    .govuk-panel--small .govuk-panel__title {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }

  .govuk-panel--small{
    padding:10px;
    p{
      color:white;
    }
  }


  /* ==========================================================================
    #TIMELINE
    ========================================================================== */
  /* line 5, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }

  /* line 10, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline:before {
    background-color: #1d70b8;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 10px;
    width: 5px;
  }

  /* line 21, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline--full {
    margin-bottom: 0;
  }

  /* line 23, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline--full:before {
    height: calc(100% - 75px);
  }

  /* line 28, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__item {
    padding-bottom: 30px;
    padding-left: 20px;
    position: relative;
  }

  /* line 33, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__item:before {
    background-color: #1d70b8;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 15px;
  }

  /* line 44, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__title {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    display: inline;
  }

  @media print {
    /* line 44, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__title {
      font-family: sans-serif;
    }
  }

  @media (min-width: 40.0625em) {
    /* line 44, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__title {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }

  @media print {
    /* line 44, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__title {
      font-size: 14pt;
      line-height: 1.15;
    }
  }

  /* line 49, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__by {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #505a5f;
    display: inline;
    margin: 0;
  }

  @media print {
    /* line 49, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__by {
      font-family: sans-serif;
    }
  }

  @media (min-width: 40.0625em) {
    /* line 49, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__by {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }

  @media print {
    /* line 49, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__by {
      font-size: 14pt;
      line-height: 1.15;
    }
  }

  /* line 56, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__date {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    margin-top: 5px;
    margin-bottom: 0;
  }

  @media print {
    /* line 56, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__date {
      font-family: sans-serif;
    }
  }

  @media (min-width: 40.0625em) {
    /* line 56, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__date {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  @media print {
    /* line 56, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__date {
      font-size: 14pt;
      line-height: 1.2;
    }
  }

  /* line 62, app/assets/stylesheets/components/_timeline.scss */
  .hmcts-timeline__description {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    margin-top: 20px;
  }

  @media print {
    /* line 62, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__description {
      font-family: sans-serif;
    }
  }

  @media (min-width: 40.0625em) {
    /* line 62, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__description {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  @media print {
    /* line 62, app/assets/stylesheets/components/_timeline.scss */
    .hmcts-timeline__description {
      font-size: 14pt;
      line-height: 1.2;
    }
  }


  .govuk-accordion__section-button {
    font-size: 1.2rem;
  }

  .govuk-accordion__controls{
    display: none;
  }

}

.grey{
  background-color: #f3f2f1;
  border: 1px solid;
  border-color: var(--govuk-border-colour, #cecece);
  padding:20px;
}















/* ==========================================================================
   #FILTER
   ========================================================================== */

.moj-filter {
  background-color: govuk-colour("white");
  box-shadow: inset 0 0 0 1px govuk-colour("black", $variant: "tint-80");

  &:focus {
    box-shadow:
      0 -2px $govuk-focus-colour,
      0 4px $govuk-focus-text-colour;
  }
}

.moj-filter__header {
  padding: govuk-spacing(2) govuk-spacing(4);
  background-color: govuk-colour("black", $variant: "tint-80");
  font-size: 0; // Hide whitespace between elements
  text-align: justify; // Trick to remove the need for floats

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  [class^="govuk-heading-"] {
    margin-bottom: 0;
  }
}

// JavaScript
.moj-filter__legend {
  width: 100%;
  overflow: visible; // Override govuk to allow for focus style to be seen

  button {
    appearance: none;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer; // Adam would not approve
    -webkit-appearance: none;
    @include govuk-font($size: 24, $weight: bold);

    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 16px;
      height: 16px;
      margin-top: -8px; // Half the height of the icon
      //background-image: url(#{$moj-images-path}icon-toggle-plus-minus.svg);
      background-position: 0 0;
    }

    &[aria-expanded="true"]::after {
      background-position: 16px 16px;
    }
  }
}

.moj-filter__header-title,
.moj-filter__header-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.moj-filter__close {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  // @include govuk-focusable;
  color: govuk-colour("black");
  background-color: transparent;
  cursor: pointer; // I know Adam won’t like this
  -webkit-appearance: none;
  appearance: none;
  @include govuk-font(19);

  &:focus {
    outline: none;
    color: govuk-functional-colour(focus-text);
    background-color: govuk-functional-colour(focus);
    box-shadow:
      0 -2px govuk-functional-colour(focus),
      0 4px govuk-functional-colour(focus-text);
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px; // Alignment tweak
    width: 14px;
    height: 14px;
    margin-right: govuk-spacing(1);
    //background-image: url(#{$moj-images-path}icon-close-cross-black.svg);
    vertical-align: middle;
  }
}

.moj-filter__selected {
  padding: govuk-spacing(4);
  background-color: govuk-colour("black", $variant: "tint-95");
  box-shadow: inset 0 0 0 1px govuk-colour("black", $variant: "tint-80");

  ul:last-of-type {
    margin-bottom: 0; // IE9 +
  }
}

.moj-filter__selected-heading {
  font-size: 0; // Hide whitespace between elements
  text-align: justify; // Trick to remove the need for floats

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.moj-filter__heading-title,
.moj-filter__heading-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  @include govuk-font(16);
}

.moj-filter-tags {
  margin-bottom: govuk-spacing(4); // Needs to adjust to 15px on mobile
  padding-left: 0;
  font-size: 0;

  li {
    display: inline-block;
    margin-right: govuk-spacing(2);
  }
}

.moj-filter__tag {
  display: inline-block;
  margin-top: govuk-spacing(1);
  padding: govuk-spacing(1);
  border: 1px solid govuk-colour("black");
  color: govuk-colour("black");
  background-color: govuk-colour("white");
  text-decoration: none;
  @include govuk-font(16);

  &:link,
  &:visited {
    color: govuk-colour("black");
  }

  &:focus {
    color: govuk-functional-colour(focus-text);
    background-color: govuk-functional-colour(focus);
  }

  &:hover {
    color: govuk-colour("white");
    background-color: govuk-colour("black");
  }

  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: govuk-spacing(1);
    //background-image: url(#{$moj-images-path}icon-tag-remove-cross.svg);
    font-weight: bold;
    vertical-align: middle;
  }

  &:hover::after {
    // background-image: url(#{$moj-images-path}icon-tag-remove-cross-white.svg);
  }
}

.moj-filter__options {
  margin-top: -1px;
  padding: govuk-spacing(4);
  box-shadow: inset 0 0 0 1px govuk-colour("black", $variant: "tint-80");

  div:last-of-type {
    margin-bottom: 0; // IE9 +
  }
}










/* ==========================================================================
   #AUTOCOMPLETE
   ========================================================================== */



.autocomplete__wrapper{position:relative; font-family: "GDS Transport",arial,sans-serif;}.autocomplete__hint,.autocomplete__input{-webkit-appearance:none;border:2px solid #0b0c0c;border-radius:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:0;width:100%}.autocomplete__input{background-color:transparent;position:relative}.autocomplete__hint{color:#b1b4b6;position:absolute}.autocomplete__input--default{padding:5px}.autocomplete__input--focused{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}.autocomplete__input--show-all-values{padding:5px 34px 5px 5px;cursor:pointer}.autocomplete__dropdown-arrow-down{z-index:-1;display:inline-block;position:absolute;right:8px;width:24px;height:24px;top:10px}.autocomplete__menu{background-color:#fff;border:2px solid #0b0c0c;border-top:0;color:#0b0c0c;margin:0;max-height:342px;overflow-x:hidden;padding:0;width:100%;width:calc(100% - 4px)}.autocomplete__menu--visible{display:block}.autocomplete__menu--hidden{display:none}.autocomplete__menu--overlay{box-shadow:rgba(0,0,0,.256863) 0 2px 6px;left:0;position:absolute;top:100%;z-index:100}.autocomplete__menu--inline{position:relative}.autocomplete__option{border-bottom:solid #b1b4b6;border-width:1px 0;cursor:pointer;display:block;position:relative}.autocomplete__option>*{pointer-events:none}.autocomplete__option:first-of-type{border-top-width:0}.autocomplete__option:last-of-type{border-bottom-width:0}.autocomplete__option--odd{background-color:#fafafa}.autocomplete__option--focused,.autocomplete__option:hover{background-color:#1d70b8;border-color:#1d70b8;color:#fff;outline:0}@media (-ms-high-contrast:active),(forced-colors:active){.autocomplete__menu{border-color:FieldText}.autocomplete__option{background-color:Field;color:FieldText}.autocomplete__option--focused,.autocomplete__option:hover{forced-color-adjust:none;background-color:SelectedItem;border-color:SelectedItem;color:SelectedItemText;outline-color:SelectedItemText}}.autocomplete__option--no-results{background-color:#fafafa;color:#646b6f;cursor:not-allowed}.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:16px;line-height:1.25}.autocomplete__hint,.autocomplete__option{padding:5px}@media (min-width:641px){.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:19px;line-height:1.31579}}
