//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-panel--informational {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(7);
  text-align: left;

  h2.govuk-heading-m {
    color: govuk-colour("white");
  }

  p.govuk-body {
    color: govuk-colour("white");
    text-align: left;
  }
}

.highlight-box{
  padding: 20px 30px;
  background-color:#f3f2f1;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

//all ops pages code

.ops{

  .govuk-service-navigation {
    border-bottom: 0;
  }

  .service-navigation--secondary{
    border-bottom: 1px solid #8eb8dc;
  }

  /* line 1, app/assets/stylesheets/components/train.scss */
  .train {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
  }

  @media (min-width: 780px) {
    /* line 1, app/assets/stylesheets/components/train.scss */
    .train {
      flex-direction: row;
    }
  }

  /* line 12, app/assets/stylesheets/components/train.scss */
  .train hr {
    min-height: 100%;
  }

  /* line 21, app/assets/stylesheets/components/train.scss */
  .train .train__carriage .train__carriage__body {
    margin-bottom: 10px;
    text-align: center;
  }


}