{% extends "layouts/main_ops.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

	<div class="govuk-grid-row">
		
    <div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Claims received (2025/2026)</h2>
			<p class="govuk-body govuk-!-font-size-36">38</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
			<h2 class="govuk-heading-m">Claims approved (2025/2026)</h2>
			<p class="govuk-body govuk-!-font-size-36">1</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
			<h2 class="govuk-heading-m">Claims rejected (2025/2026)</h2>
			<p class="govuk-body govuk-!-font-size-36">1</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    </div>
		
    <div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Total claims received</h2>
			<p class="govuk-body govuk-!-font-size-36">50</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
			<h2 class="govuk-heading-m">Claims approaching deadline</h2>
			<p class="govuk-body govuk-!-font-size-36">0</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
			<h2 class="govuk-heading-m">Claims passed deadline</h2>
			<p class="govuk-body govuk-!-font-size-36">0</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    </div>

	</div>

	<br>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-m">School Workforce Census Statistics</h1> </div>
	</div>

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">No data</h2>
			<p class="govuk-body govuk-!-font-size-36">2.0%</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    </div>
		
    <div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Any matches</h2>
			<p class="govuk-body govuk-!-font-size-36">0.0%</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    </div>

	</div>

	<br>

	<div class="govuk-grid-row">
		
    <div class="govuk-grid-column-full">
			<h1 class="govuk-heading-m">Further Education Payments Statistics</h1> 
    </div>
    
	</div>

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Provider verification tasks automatically passed (2025/2026) </h2>
			<p class="govuk-body govuk-!-font-size-36">0</p>
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    </div>

	</div>

  



{% endblock %}
