{% extends "layouts/main_ops.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% set activeNav = 'myclaims' %}

{% block content %}


	<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">


			<div class="govuk-grid-row">
				
				<div class="govuk-grid-column-one-third">
			
					<h1 class="govuk-heading-l">
						My claims
					</h1>

				</div>

				<div class="govuk-grid-column-two-thirds">
			
					
					<div class="train" style="float:right;">
						<div class="train__carriage">
							<div class="train__carriage__title">
							<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Overdue</h2>
							</div>

							<div class="train__carriage__body">
							<p class="govuk-body govuk-!-font-size-18 govuk-!-margin-bottom-0">0<span class="govuk-visually-hidden"> overdue claims</span></p>
							</div>
						</div>

						<div>
							<hr>
						</div>

						<div class="train__carriage">
							<div class="train__carriage__title">
								<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Due today</h2>
							</div>

							<div class="train__carriage__body">
							<p class="govuk-body govuk-!-font-size-18 govuk-!-margin-bottom-0">	0<span class="govuk-visually-hidden"> claims due today</span></p>
							</div>
						</div>

						<div>
							<hr>
						</div>

						<div class="train__carriage">
							<div class="train__carriage__title">
								<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Due in 7 days</h2>
							</div>

							<div class="train__carriage__body">
							<p class="govuk-body govuk-!-font-size-18 govuk-!-margin-bottom-0">0<span class="govuk-visually-hidden"> claims due within 7 days</span></p>
							</div>
						</div>

						<div>
							<hr>
						</div>

						<div class="train__carriage">
							<div class="train__carriage__title">
								<h2 class="govuk-heading-s govuk-!-margin-bottom-1">On hold</h2>
							</div>

							<div class="train__carriage__body">
							<p class="govuk-body govuk-!-font-size-18 govuk-!-margin-bottom-0">0<span class="govuk-visually-hidden"> on hold claims</span></p>
							</div>
						</div>

						<div>
							<hr>
						</div>

						<div class="train__carriage">
							<div class="train__carriage__title">
								<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Active claims</h2>
							</div>

							<div class="train__carriage__body">
								<p class="govuk-body govuk-!-font-size-18 govuk-!-margin-bottom-0">0<span class="govuk-visually-hidden"> active assigned claims</span></p>
							</div>
						</div>	
					</div>


				</div>

			</div>

			<!--

			<div class="govuk-grid-row">

				<div class="govuk-grid-column-one-half govuk-!-margin-bottom-7">

					<h2 class="govuk-heading-m">
						Search for a claim
					</h2>

					<form action="#" accept-charset="UTF-8" method="get">
						<div class="govuk-form-group">
							<label class="govuk-label" for="query">Enter a reference, email address, Teacher Reference Number, surname, or payment ID</label>
							<input class="govuk-input govuk-input--width-20" type="text" name="query" id="query">
							<div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;"></div>
						</div>
						<div class="govuk-form-group govuk-!-margin-bottom-0">
							<input type="submit" name="commit" value="Search" class="govuk-button govuk-!-margin-bottom-0" data-disable-with="Search"> </div>
					</form>

				</div>

			</div>

			-->




			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Urgent claims (1)
					</h2>
				</div>
				<div id="filters-content" class="govuk-summary-card__content">
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Reference</th>
								<th scope="col" class="govuk-table__header">Applicant Name</th>
								<th scope="col" class="govuk-table__header">ID Verification</th>
								<th scope="col" class="govuk-table__header">Policy</th>
								<th scope="col" class="govuk-table__header">Submitted</th>
								<th scope="col" class="govuk-table__header">Decision deadline</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/5ecb99dd-1f49-4e17-959a-c2f27302c333/tasks">22VAFBPT</a></th>
								<td class="govuk-table__cell">Mallory Bahringer</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--grey">Unverified</strong></td>
								<td class="govuk-table__cell">FE</td>
								<td class="govuk-table__cell">14 May 2026</td>
								<td class="govuk-table__cell">24 September 2026</td>
							</tr>
							
						</tbody>
					</table>
				</div>

			</div>









			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Needs review (5)
					</h2>
				</div>
				<div id="filters-content" class="govuk-summary-card__content">
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Reference</th>
								<th scope="col" class="govuk-table__header">Applicant Name</th>
								<th scope="col" class="govuk-table__header">ID Verification</th>
								<th scope="col" class="govuk-table__header">Policy</th>
								<th scope="col" class="govuk-table__header">Submitted</th>
								<th scope="col" class="govuk-table__header">Decision deadline</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/5ecb99dd-1f49-4e17-959a-c2f27302c333/tasks">22VAFBPT</a></th>
								<td class="govuk-table__cell">Mallory Bahringer</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--grey">Unverified</strong></td>
								<td class="govuk-table__cell">FE</td>
								<td class="govuk-table__cell">14 May 2026</td>
								<td class="govuk-table__cell">24 September 2026</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/ops/claims/example">HHBXBHY5</a></th>
								<td class="govuk-table__cell">Danielle Dean</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong></td>
								<td class="govuk-table__cell">EYTRP</td>
								<td class="govuk-table__cell">1 June 2026</td>
								<td class="govuk-table__cell">10 August 2026</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/4f62f35b-1fff-47f9-86f6-18aadd403878/tasks">7WCEFFH7</a></th>
								<td class="govuk-table__cell">Danielle Dean</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong></td>
								<td class="govuk-table__cell">EYTRP</td>
								<td class="govuk-table__cell">1 June 2026</td>
								<td class="govuk-table__cell">10 August 2026</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/fc52fe3a-9076-4af1-8633-48a8b14a1db7/tasks">H4NYGJF5</a></th>
								<td class="govuk-table__cell">Danielle Dean</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong></td>
								<td class="govuk-table__cell">EYTRP</td>
								<td class="govuk-table__cell">1 June 2026</td>
								<td class="govuk-table__cell">10 August 2026</td>
							</tr>
							<tr class="govuk-table__row">
								<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/ad5d73c5-e5f2-417c-ad0a-417a06faeffd/tasks">WQ38SPBV</a></th>
								<td class="govuk-table__cell">Danielle Dean</td>
								<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong></td>
								<td class="govuk-table__cell">EYTRP</td>
								<td class="govuk-table__cell">1 June 2026</td>
								<td class="govuk-table__cell">10 August 2026</td>
							</tr>
							
						</tbody>
					</table>
				</div>

			</div>









			


			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Awaiting action (2)
					</h2>
				</div>
				<div id="filters-content" class="govuk-summary-card__content">
					<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Reference</th>
						<th scope="col" class="govuk-table__header">Applicant Name</th>
						<th scope="col" class="govuk-table__header">ID Verification</th>
						<th scope="col" class="govuk-table__header">Policy</th>
						<th scope="col" class="govuk-table__header">Submitted</th>
						<th scope="col" class="govuk-table__header">Decision deadline</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/5ecb99dd-1f49-4e17-959a-c2f27302c333/tasks">22VAFBPT</a></th>
						<td class="govuk-table__cell">Mallory Bahringer</td>
						<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--grey">Unverified</strong></td>
						<td class="govuk-table__cell">FE</td>
						<td class="govuk-table__cell">14 May 2026</td>
						<td class="govuk-table__cell">24 September 2026</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/ops/claims/example">HHBXBHY5</a></th>
						<td class="govuk-table__cell">Danielle Dean</td>
						<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong></td>
						<td class="govuk-table__cell">EYTRP</td>
						<td class="govuk-table__cell">1 June 2026</td>
						<td class="govuk-table__cell">10 August 2026</td>
					</tr>
					
					
				</tbody>
				</table>
				</div>

			</div>





			<div class="govuk-summary-card">
				<div class="govuk-summary-card__title-wrapper">
					<h2 class="govuk-summary-card__title">
						Blocked (1)
					</h2>
				</div>
				<div id="filters-content" class="govuk-summary-card__content">
					<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Reference</th>
						<th scope="col" class="govuk-table__header">Applicant Name</th>
						<th scope="col" class="govuk-table__header">ID Verification</th>
						<th scope="col" class="govuk-table__header">Policy</th>
						<th scope="col" class="govuk-table__header">Submitted</th>
						<th scope="col" class="govuk-table__header">Decision deadline</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/5ecb99dd-1f49-4e17-959a-c2f27302c333/tasks">22VAFBPT</a></th>
						<td class="govuk-table__cell">Mallory Bahringer</td>
						<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed govuk-tag--grey">Unverified</strong></td>
						<td class="govuk-table__cell">FE</td>
						<td class="govuk-table__cell">14 May 2026</td>
						<td class="govuk-table__cell">24 September 2026</td>
					</tr>
					
				</tbody>
				</table>
				</div>

			</div>




			
			












			







			 

	</div>


  



{% endblock %}
