{% extends "layouts/main.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageName = "Claim complete" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Claim complete",
      html: 'Your reference number<br><strong>HDJ2123F</strong>',
      classes: "govuk-panel--confirmation"
    }) }}

    <p class="govuk-body">
      We've sent you an email to confirm we've received your claim.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We'll send you an email to let you know whether your claim has been approved
      or rejected.
    </p>

    <p>If you're eligible, you'll be paid within 16 weeks.</p>

    <div class="govuk-inset-text">
      Estimated date your claim should be completed: <br>December 15th 2026
    </div>

    <h2 class="govuk-heading-m">Checking the progress of your claim or editing bank details</h2>

    <p class="govuk-body">
      You can <a class="govuk-link govuk-link--no-visited-state" href="start">check the progress of your claim</a> and edit your bank details using your claim reference number. It takes 5 days for your claim to be processed before you can check the progress of your claim or edit your bank details. You'll find your claim reference number in the confirmation email we sent when you submitted your claim.
    </p>

    <p class="govuk-body">
      <a href="feedback" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body-s">
      Prototype only:
      <a href="/claimantmodel/emails-confirmation" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">View confirmation email</a>
    </p>

    <p class="govuk-body-s">
      Prototype only:
      <a href="/claimantmodel/emails-auto" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">Auto reply email concept</a>
    </p>

    <p class="govuk-body-s">
      Prototype only:
      <a href="/claimantmodel/emails-auto_current" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">Current auto reply email</a>
    </p>

  </div>
</div>
{% endblock %}
