{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Continue to the service you need to use" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/one-login-start"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">We couldn't find a claim with the reference WQ38SPBV</h1>

    <p class="govuk-body">
			There is no claim with the reference number you entered. Please check the reference number and try again.
    </p>

    <form action="/claimantmodel/start">
      {{ govukButton({
        text: "Try a different claim reference number"
      }) }}
    </form>


  </div>
</div>
{% endblock %}
