{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName = "Confirmation email" %}

{% block pageTitle %}
  Confirmation email
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "From"
          },
          value: {
            text: "Department for Education <support@additionalteachingpayment.zendesk.com>"
          }
        },
        {
          key: {
            text: "To"
          },
          value: {
            text: "test@example.com"
          }
        },
        {
          key: {
            text: "Subject"
          },
          value: {
            text: "[whatever user added in subject field] Claim reference number: HDJ2123F"
          }
        }
      ]
    }) }}

    <p class="govuk-body">Hello Edna,</p>

    <p class="govuk-body">Thank you for contacting the Support Team.</p>

    <p class="govuk-body">We have received your request. The ticket reference is (692878) Your ticket has been forwarded to an agent to assist.</p>

    <p class="govuk-body">We aim to respond to all tickets within 5 working days.</p>

    <p class="govuk-body">Kind regards,<br>
    Support Team</p>

  </div>
</div>
{% endblock %}
