{% extends "layouts/main_fe.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Continue to the service you need to use" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/one-login-start"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="claim-teaching-hours-per-week-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">On average, how many hours per week are you timetabled to teach at Nottingham College during the spring term?</h1></legend>
          <div class="govuk-hint" id="claim-teaching-hours-per-week-hint">‘Timetabled teaching hours’ refer to the time you independently spend teaching lessons to students of all ages.</div>
          <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
            <div class="govuk-radios__item">
              <input id="claim-teaching-hours-per-week-more-than-20-field" class="govuk-radios__input" type="radio" value="more_than_20" name="permanent">
              <label for="claim-teaching-hours-per-week-more-than-20-field" class="govuk-label govuk-radios__label">20 hours or more per week</label>
            </div>
            <div class="govuk-radios__item">
              <input id="claim-teaching-hours-per-week-more-than-12-field" class="govuk-radios__input" type="radio" value="more_than_12" name="permanent">
              <label for="claim-teaching-hours-per-week-more-than-12-field" class="govuk-label govuk-radios__label">12 or more hours per week, but fewer than 20</label>
            </div>
            <div class="govuk-radios__item">
              <input id="claim-teaching-hours-per-week-between-2-5-and-12-field" class="govuk-radios__input" type="radio" value="between_2_5_and_12" name="permanent">
              <label for="claim-teaching-hours-per-week-between-2-5-and-12-field" class="govuk-label govuk-radios__label">2.5 or more hours per week, but fewer than 12</label>
            </div>
            <div class="govuk-radios__item">
              <input id="claim-teaching-hours-per-week-less-than-2-5-field" class="govuk-radios__input" type="radio" value="less_than_2_5" name="permanent">
              <label for="claim-teaching-hours-per-week-less-than-2-5-field" class="govuk-label govuk-radios__label">Fewer than 2.5 hours each week</label>
            </div>
          </div>
        </fieldset>
      </div>
  

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
