{% extends "layouts/main_schools.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">You are not eligible for a targeted retention incentive payment yet</h1>
    
    <p class="govuk-body"> In order to claim a targeted retention incentive payment, you must teach an <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/guidance/targeted-retention-incentive-payments-for-fe-teachers#eligible-fe-courses">eligible&nbsp;FE&nbsp;subject (opens in new tab)</a>. </p>

    <p class="govuk-body">
      For more information, check the eligibility criteria for <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/guidance/targeted-retention-incentive-payments-for-fe-teachers">targeted retention incentive payments for further education teachers (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      If you are unsure your information is correct, you can <a class="govuk-link govuk-link--no-visited-state" href="staff">go back</a> and review your answers. You can also <a class="govuk-link govuk-link--no-visited-state" href="start">start the application again</a>.
    </p>
   

  </div>
  

</div>

{% endblock %}
