{% extends "layouts/main_schools.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must have taught at Oaks academy for the full spring term to be eligible</h1>
    <p>Check the <a class="govuk-link govuk-link--no-visited-state" href="#">eligibility criteria</a> for more information.</p>

  </div>
  

</div>

{% endblock %}
