{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

 {% if data.success %}
        
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            {{ data.success }}
          </h3>
        </div>
      </div>

    {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Teacher details</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Phillips
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          5 January 1978
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          GG 12 34 56 B
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Teacher reference number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">1234567</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Gender
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Female</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Phillips
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          5 January 1978
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          GG 12 34 56 B
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Teacher reference number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">1234567</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Gender
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Female</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
      </div>
    </dl>

    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are these details correct?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="correct" name="correct" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="correct">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="correct-2" name="correct" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="correct-2">
                No
              </label>
            </div>
            
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
