{% extends "layouts/main_schools.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "You're not eligible based on your qualification" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/teacher-auth-record-match"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have the qualification for this payment</h1>

    <p class="govuk-body">
      We've checked your details and you do not have either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Qualified Teacher Status (QTS)</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Qualified teacher learning and skills (QTLS)</a> status and membership of the Society for Education and Training</li>
    </ul>

    <p class="govuk-body">
      This means you're not eligible for a targeted retention payment for school teachers.
    </p>

    <p class="govuk-body">
      If you gain one of these qualifications in the future, you may be eligible. Check the guidance (link) before making a claim.
    </p>

    {{ govukButton({
      text: "Sign out",
      href: "/"
    }) }}
  </div>
</div>
{% endblock %}
