{% extends "layouts/main_schools.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      You've already submitted a targeted retention incentive payment for school teachers claim this year
    </h1>
    
    
    <p class="govuk-body">
     There's already a targeted retention incentive payment claim for this school this year linked to your One Login account.
    </p>

    <p class="govuk-body">
     You can view the claim submissions linked to your account to check the details.
    </p>
   
    
    <div class="govuk-!-padding-bottom-6"> 
      <a class="govuk-button" data-module="govuk-button" href="/claimantmodel/claim-dashboard" data-govuk-button-init="">View claim submissions</a> 
    </div>
   
    
  </div>
  

</div>

{% endblock %}
