{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageName = "Which nursery do you teach in?" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <div class="govuk-form-group">
      
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="nurserySearch">
            Which school do you teach in?
          </label>
        </h1>
     
          <div class="autocomplete-wrapper govuk-!-margin-top-3 govuk-!-margin-bottom-5" data-chosen="">
            <div id="school-hint" class="govuk-hint">
              Enter the name or address of the school or trust
            </div>
          
            <select class="schoolSelecter" name="nurserySearch" id="nurserySearch" aria-describedby="school-hint">

              {% include "nursery-search__result.njk" %}

            </select>
          </div>
        </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with school search
          </span>
        </summary>
        <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <h2 class="govuk-heading-s">Help selecting a nursery</h2>
              <p>If you work in more than one setting, choose the setting where you spend most of your time. </p>
              <p>If you teach at a provider of <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/childcare-on-domestic-premises">provider of childcare on domestic premises (CoDP)</a> and you cannot find it in the search, email <a href="mailto:EY-teacher.recognitionpayment@education.gov.uk" class="govuk-link">EY-teacher.recognitionpayment@education.gov.uk</a>. </p>
              <p>If you cannot find your nursery in the search and think it's eligible, email <a href="mailto:EY-teacher.recognitionpayment@education.gov.uk" class="govuk-link">EY-teacher.recognitionpayment@education.gov.uk</a>. </p>
              
              <h2 class="govuk-heading-s">Information about nursery eligibility</h2>
              <p>You can read the <a class="govuk-link govuk-link--no-visited-state" href="guidance">guidance</a> to check nursery eligibility criteria.</p>
              <p>You can read the <a class="govuk-link govuk-link--no-visited-state" href="guidance_methodology">methodology</a> to find out how local authorities were selected.</p>
            </ul>
        </div>
      </details>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const wrapper = document.querySelector('.autocomplete-wrapper');

      if (!wrapper) return;

      const theSchool = wrapper.dataset.chosen;
      const input = document.querySelector('.autocomplete__input');

      if (input) {
        input.value = theSchool;
      }

      setTimeout(function () {
        const menu = document.querySelector('.autocomplete__menu');

        if (menu) {
          menu.blur();
          menu.classList.remove('autocomplete__menu--visible');
          menu.classList.add('autocomplete__menu--hidden');
        }
      }, 100);
    });
  </script>
{% endblock %}