{% extends "layouts/main_schools.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Find out if you are eligible for a targeted retention incentive payment
      </h1>
    <p class="govuk-body"> 
      Use this service to find out if you can get an early career teacher payment.
    </p>
     <p class="govuk-body"> 
      You may be eligible if you:
    </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-body">teach chemistry</span></li>
        <li><span class="govuk-body">teach mathematics</span></li>
        <li><span class="govuk-body">teach physics</span></li>
        <li><span class="govuk-body">work in a disadvantaged school</span></li>
      </ul>

    <p class="govuk-body">You must meet the eligibility criteria to receive a payment. Read the guidance for full details about who can apply and how the payment scheme works.</p>

    <p class="govuk-body">You must apply between 2 March 2026 and 31 May 2026.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      How much you could get
    </h2>

    <p class="govuk-body">If you're eligible, you could receive between £3,000 and £6,000.</p>

    <p class="govuk-body">The amount you get depends on:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><span class="govuk-body">the subject you teach</span></li>
      <li><span class="govuk-body">the school you work in</span></li>
      <li><span class="govuk-body">when you started your initial teacher training (ITT) course, if you took a postgraduate route</span></li>
      <li><span class="govuk-body">when you completed your ITT course, if you took an undergraduate route</span></li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      What you need
    </h2>

    <section class="highlight-box">

      <p class="govuk-body">You'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          your Teacher Reference Number (TRN) 
        </li>
        <li>
          a GOV.UK One Login account to prove your identity - you'll need a UK passport, UK photo driving licence or biometric residence permit to set it up
        </li>
        <li>
          your bank details, including the full name on the account, sort code and account number
        </li>
        <li>
          our gender as it appears on payroll
        </li>
      </ul>

    </section>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Before you start
    </h2>

    <p class="govuk-body">If you need to <a class="govuk-link govuk-link--no-visited-state" href="#">find a lost TRN</a>, do this before you claim. It can take 5 working days to recover your TRN.</p>
    
    <p class="govuk-body">If you need to set up a GOV.UK One Login account, this can take 2 weeks.</p>

    <a href="school_search" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      How long it takes to claim
    </h2>

    <p class="govuk-body">If you have your TRN and One Login account it takes around 10 minutes to submit a claim.</p>
    
    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      How we'll check your eligibility
    </h2>

    <p class="govuk-body">
      If you are eligible, we will collect personal information to verify your claim and process your payment.
    </p>

    <p class="govuk-body">
      We use HMRC data to confirm that you work at the nursery you selected. This is only used to verify your eligibility and will not affect your personal records, pay, tax or benefits.
    </p>

    <p class="govuk-body">
      If you'd rather not use this check, you can upload a payslip. We'll check this manually, which will take longer.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      What happens after you submit a claim
    </h2>

    <p class="govuk-body">
      If you're eligible, you'll be paid within 25 weeks.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Claim back your student loan repayments
    </h2>

    <p class="govuk-body"> If you have a student loan, you may be able to <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/guidance/teachers-claim-back-your-student-loan-repayments">claim back student loan repayments (opens in new tab)</a> made while employed as a teacher. This is separate and you can apply for this whether or not you receive a school targeted retention incentive payment. </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Contact us
    </h2>

    <p class="govuk-body"> 
      If you have any questions, email <a class="govuk-link govuk-link--no-visited-state" href="mailto:schools-targeted.retention-incentive@education.gov.uk">schools-targeted.retention-incentive@education.gov.uk</a>.


  </div>
</div>

{% endblock %}
