{% extends "layouts/main_ops.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% set activeNav = 'claims' %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full"> <span class="govuk-caption-xl">Student Loans (2025/2026)</span>
		<h1 class="govuk-heading-xl govuk-heading--navigation">
    <span id="claim-heading">
      HHBXBHY5
    </span>
    <span class="govuk-body-m">
      <a class="govuk-link" href="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c/tasks">View tasks</a>
      <a class="govuk-link" href="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c">View full claim</a>
      <a class="govuk-link" href="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c/amendments/new">Amend claim</a>
      
    </span>
  </h1> </div>
	<div class="govuk-grid-column-full"> </div>
	<div class="govuk-grid-column-full">
		
	<div class="govuk-grid-column-one-half">
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        <abbr title="Teacher Reference Number">TRN</abbr>
      </dt>
				<dd class="govuk-summary-list__value"> 45456546 </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        NI number
      </dt>
				<dd class="govuk-summary-list__value"> JW123456 </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Full name
      </dt>
				<dd class="govuk-summary-list__value"> Jane Doe </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
				<dd class="govuk-summary-list__value"> 26 May 1991 </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Email address
      </dt>
				<dd class="govuk-summary-list__value"> jane.doe@example.com </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Mobile number
      </dt>
				<dd class="govuk-summary-list__value"> 07123456789 </dd>
			</div>
		</dl>
	</div>
	<div class="govuk-grid-column-one-half">
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Reference
      </dt>
				<dd class="govuk-summary-list__value"> YM12345 </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Submitted
      </dt>
				<dd class="govuk-summary-list__value"> 3 February 2026 11:11am </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Decision due
      </dt>
				<dd class="govuk-summary-list__value"> 14 July 2026 <strong class="govuk-tag tag--alert">-1 days</strong> </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Status
      </dt>
				<dd class="govuk-summary-list__value"> Awaiting decision - not on hold </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Claim amount
      </dt>
				<dd class="govuk-summary-list__value"> £1000.00 </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Claim route
      </dt>
				<dd class="govuk-summary-list__value"> Not signed in with DfE Identity </dd>
			</div>
		</dl>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-l">Employment</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        6 April 2024 to 5 April 2025
      </dt>
				<dd class="govuk-summary-list__value"> <a class="govuk-link" href="#"><span class="govuk-visually-hidden">View</span> Pleasant View School <span class="govuk-visually-hidden">on Get Information About Schools</span></a> <span class="govuk-body-s">(370/4002)</span> </dd>
			</div>
			<div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key">
        Current school
      </dt>
				<dd class="govuk-summary-list__value"> <a class="govuk-link" href="#"><span class="govuk-visually-hidden">View</span> Pleasant View School <span class="govuk-visually-hidden">on Get Information About Schools</span></a> <span class="govuk-body-s">(370/4002)</span> </dd>
			</div>
		</dl>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-inset-text task-outcome">
			<p class="govuk-body"> <strong class="govuk-tag app-task-list__task-completed govuk-tag--green">Passed</strong> </p>
			<p class="govuk-body"> This task was performed by an automated check on 8 April 2026 5:42pm </p>
		</div>
		<h2 class="govuk-heading-m">Task notes</h2>
		<div class="hmcts-timeline">
			<div class="hmcts-timeline__item">
				<section>
					<p class="govuk-body">[Employment] - Eligible:
						<br>
					</p><pre>Current school: LA Code: 370 / Establishment Number: 4002
<br>Claim school: LA Code: 370 / Establishment Number: 4002
<br>Employment dates: 6 April 2024 to 5 April 2025
</pre>
					<p></p>
				</section>
				<p class="hmcts-timeline__description"> by an automated check on 8 April 2026 5:42pm </p>
			</div>
			<div class="hmcts-timeline__item">
				<section>
					<p class="govuk-body">[Employment] - Ineligible:
						<br>
					</p><pre>Claim school: LA Code: 370 / Establishment Number: 4002
<br></pre>
					<p></p>
				</section>
				<p class="hmcts-timeline__description"> by an automated check on 8 April 2026 3:17pm </p>
			</div>
			<div class="hmcts-timeline__item">
				<section>
					<p class="govuk-body">[Employment] - Ineligible:
						<br>
					</p><pre>Claim school: LA Code: 370 / Establishment Number: 4002
<br></pre>
					<p></p>
				</section>
				<p class="hmcts-timeline__description"> by an automated check on 2 April 2026 11:13am </p>
			</div>
			<div class="hmcts-timeline__item">
				<section>
					<p class="govuk-body">[Employment] - Ineligible:
						<br>
					</p><pre>Claim school: LA Code: 370 / Establishment Number: 4002
<br></pre>
					<p></p>
				</section>
				<p class="hmcts-timeline__description"> by an automated check on 1 April 2026 12:24pm </p>
			</div>
			<div class="hmcts-timeline__item">
				<section>
					<p class="govuk-body">[Employment] - Ineligible:
						<br>
					</p><pre>Claim school: LA Code: 370 / Establishment Number: 4002
<br></pre>
					<p></p>
				</section>
				<p class="hmcts-timeline__description"> by an automated check on 3 March 2026 11:11am </p>
			</div>
		</div>
		<form action="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c/tasks/employment/notes" accept-charset="UTF-8" method="post">
			<input type="hidden" name="authenticity_token" value="fr_p0AGQmxhENASF-vTuYFpeNTY8scDzo6JMCz_yQ-ZfRL3xVhBNZQH5blUV38BcVzA_wy057pNALosLZcIM_Q" autocomplete="off">
			<div class="govuk-form-group">
				<h3 class="govuk-label-wrapper"><label for="note-body-field" class="govuk-label govuk-label--s">Add a note to this task</label></h3>
				<div class="govuk-hint" id="note-body-hint">Enter an update note here. Do not include any personal data about the claimant.</div>
				<textarea id="note-body-field" class="govuk-textarea" rows="5" aria-describedby="note-body-hint" name="note[body]"></textarea>
			</div>
			<button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Add note</button>
		</form>
		<nav aria-label="Pagination" class="govuk-pagination govuk-pagination--block">
			<div class="govuk-pagination__prev">
				<a href="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c/tasks/census_subjects_taught" class="govuk-link govuk-pagination__link" rel="prev">
					<svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" focusable="false" viewBox="0 0 15 13" aria-hidden="true">
						<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
					</svg><span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span><span class="govuk-pagination__link-label">Census subjects taught</span></a>
			</div>
			<ul class="govuk-pagination__list"></ul>
			<div class="govuk-pagination__next">
				<a href="/admin/claims/baba4296-870a-4e74-9ad4-9084ba6cb39c/tasks/student_loan_amount" class="govuk-link govuk-pagination__link" rel="next">
					<svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" focusable="false" viewBox="0 0 15 13" aria-hidden="true">
						<path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
					</svg><span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span><span class="govuk-pagination__link-label">Student loan amount</span></a>
			</div>
		</nav>
	</div>
</div>



{% endblock %}
