{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageName = "Confirm you are eligible" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm-where-you-work-uploaded-documents-confirmation"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm you are eligible</h1>

    <p class="govuk-body govuk-hint">
      By continuing, you confirm that the information you've given is true and
      accurate, and that you meet all the eligibility criteria in the
      <a
        href="/guidance"
        class="govuk-link"
      >
        guidance
      </a>.
    </p>

    <p class="govuk-body govuk-hint">
      We may check your details with your employer or other official records.
    </p>

    <form action="/accept-payment" method="get">
      {{ govukCheckboxes({
        idPrefix: "eligibility-confirmed",
        name: "eligibilityConfirmed",
        items: [
          {
            value: "yes",
            text: "I confirm that I understand and accept these conditions."
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
