{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Claim an early years teacher recognition payment" %}

{% block pageTitle %}
  Claim an early years teacher recognition payment - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">Early years teacher recognition payment: methodology</h1>

    <p class="govuk-body-l">
      How eligible early years teachers can apply for a recognition payment before 31 July 2026.
    </p>

    <p class="govuk-body">
      <strong>From:</strong>
      <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">
        Department for Education
      </a>
    </p>

    <p class="govuk-body">Applies to England</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Contents</h2>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="#local-authority-la-areas">Local authority areas</a></li>
      <li><a class="govuk-link" href="#eligible-group-based-settings">Eligible group-based settings</a></li>
      <li><a class="govuk-link" href="#updates-to-the-eligibility-criteria">Updates to the eligibility criteria</a></li>
    </ul>

    <div class="govspeak">
      <p>To be eligible for a recognition payment, teachers must be working in an eligible early years (<abbr title="early years">EY</abbr>) setting. This document outlines the methodology for the eligibility of early years settings.</p>
      <p>In addition to working in an eligible setting, teachers must meet the eligibility criteria as outlined in <a rel="external" href="https://draft-origin.publishing.service.gov.uk/guidance/claim-an-early-years-teacher-recognition-payment?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiZGVmNjBhMy0wNzBjLTQyZTEtOGFjMi01ZTJjZjMxNzQ3ZDgiLCJjb250ZW50X2lkIjoiNGFhZTE2MmMtMzk0MS00OTAxLWE5OGItMzEzNjNhMzQxYjEyIiwiaWF0IjoxNzgwNDg0NTczLCJleHAiOjE3ODMwNzY1NzN9.1dEhN3FibZlKTJAYKyMFa1RDKIFDMjoi5-UtlwDwYKk&amp;utm_campaign=govuk_publishing&amp;utm_medium=preview&amp;utm_source=share">Claim an early years teacher recognition payment</a>.</p>
      <h2 class="govuk-heading-l" id="local-authority-la-areas">Local authority (<abbr title="local authority">LA</abbr>) areas:</h2>
      <p>Eligible settings must be within one of the following 10 <abbr title="local authority">LA</abbr> areas:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Sandwell</li>
        <li>Middlesbrough</li>
        <li>Tameside</li>
        <li>Rochdale</li>
        <li>Bolton</li>
        <li>Hartlepool</li>
        <li>Rotherham</li>
        <li>Dudley</li>
        <li>Luton</li>
        <li>Barking and Dagenham</li>
      </ul>
      <p>The Department for Education (<abbr title="Department for Education">DfE</abbr>) has selected&nbsp;<abbr title="local authority">LA</abbr> areas using 3 measures, each weighted equally:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Income Deprivation Affecting Children Index (IDACI) rank</li>
        <li>proportion of the LAs early years workforce that are qualified teachers<sup id="fnref:1"><a href="#fn:1" class="footnote" rel="footnote" role="doc-noteref">[footnote 1]</a></sup> </li>
        <li>percentage of children achieving a Good Level of Development (GLD) in the <abbr title="local authority">LA</abbr><sup id="fnref:2"><a href="#fn:2" class="footnote" rel="footnote" role="doc-noteref">[footnote 2]</a></sup> </li>
      </ul>
      <p>For each measure, LAs were ranked so that lower scores indicated higher levels of need. These rankings were then combined with equal weight to produce an overall ranking of LAs.</p>
      <p>This approach ensures incentives are targeted at areas with the highest levels of need and the greatest potential for impact.</p>
      <p>For phase 1, which will be used to test the service, we selected a subset of LAs&nbsp;identified through this ranking&nbsp;to ensure&nbsp;that for this phase there is&nbsp;a good&nbsp;regional spread and&nbsp;a mix of provider size and&nbsp;number of&nbsp;existing early years teachers.&nbsp;&nbsp;</p>
      <p>Phase 2 <abbr title="local authority">LA</abbr> areas will be shared in due course.</p>
      <h2 class="govuk-heading-l" id="eligible-group-based-settings">Eligible group-based settings</h2>
      <p>To be an eligible setting, you must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>registered in England with Ofsted on the Early Years Register or an early&nbsp;years&nbsp;childminder agency, to provide early years childcare on either domestic premises or non‑domestic&nbsp;premises</li>
        <li>delivering funded early years entitlements</li>
        <li>not be an ineligible setting</li>
      </ul>
      <p>Settings that are ineligible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>childminders</li>
        <li>school based settings, including independent schools<sup id="fnref:3"><a href="#fn:3" class="footnote" rel="footnote" role="doc-noteref">[footnote 3]</a></sup> </li>
        <li>settings run by the governing body of a maintained school</li>
      </ul>
      <p>This criteria reflects evidence&nbsp;that&nbsp;group‑based&nbsp;settings&nbsp;face greater workforce challenges than&nbsp;school‑based&nbsp;settings&nbsp;and we are prioritising the recognition payments for settings where there is greatest need.&nbsp;We know that&nbsp;staff in&nbsp;group‑based&nbsp;settings are paid less on average<sup id="fnref:4"><a href="#fn:4" class="footnote" rel="footnote" role="doc-noteref">[footnote 4]</a></sup>,&nbsp;staff turnover is higher<sup id="fnref:5"><a href="#fn:5" class="footnote" rel="footnote" role="doc-noteref">[footnote 5]</a></sup>&nbsp;and&nbsp;fewer staff&nbsp;in&nbsp;group‑based&nbsp;settings&nbsp;hold Level 6 qualifications.&nbsp;&nbsp;</p>
      <h2 class="govuk-heading-l" id="updates-to-the-eligibility-criteria">Updates to the eligibility criteria</h2>
      <p>Eligibility criteria will be reviewed at least once a year. &nbsp;</p>
      <p>The list of eligible providers will be reviewed and refreshed to take account of any updates to the Ofsted Childcare Provider list,&nbsp;which is updated every 6 months and the <abbr title="early years">EY</abbr> census, which is updated every year.</p>
      <p>Group‑based&nbsp;settings that have recently opened may not be included on our list but will still be eligible. If a teacher believes they work in an eligible group‑based&nbsp;settings but it is not included on the list linked above, they should contact the department at:
        <br> <a href="mailto:EY-teacher.recognitionpayment@gov.uk ">EY-teacher.recognitionpayment@gov.uk </a></p>
      <div class="footnotes" role="doc-endnotes">
        <ol class="govuk-list govuk-list--number">
          <li id="fn:1">
            <p><a rel="external" href="https://explore-education-statistics.service.gov.uk/find-statistics/funded-early-education-and-childcare/2025/explore#content">2025 <abbr title="early years">EY</abbr> census data</a>&nbsp;<a href="#fnref:1" class="reversefootnote" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
          </li>
          <li id="fn:2">
            <p><a rel="external" href="https://explore-education-statistics.service.gov.uk/find-statistics/early-years-foundation-stage-profile-results/2024-25">24/25 EYFSP data</a>&nbsp;<a href="#fnref:2" class="reversefootnote" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
          </li>
          <li id="fn:3">
            <p><a rel="external" href="https://explore-education-statistics.service.gov.uk/data-catalogue/data-set/035b3b70-74df-4d73-847f-54dc1032b876">Hourly staff pay, Data set from Childcare and early years provider survey - Explore education statistics - GOV.UK</a>&nbsp;<a href="#fnref:3" class="reversefootnote" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
          </li>
          <li id="fn:4">
            <p>Level 6 includes those holding Early Years Practitioner Status (EYPS), Early Years Teacher Status (EYTS) and Qualified Teacher Status (QTS). It is also important to note that all teachers with one of these three qualifications will be qualified to Level 6, however not all Level 6 staff will have one of these teaching qualifications.&nbsp;<a href="#fnref:4" class="reversefootnote" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
          </li>
          <li id="fn:5">
            <p><a rel="external" href="https://explore-education-statistics.service.gov.uk/find-statistics/childcare-and-early-years-provider-survey/2025">Childcare and early years provider survey, Reporting year 2025 - Explore education statistics - GOV.UK</a>&nbsp;<a href="#fnref:5" class="reversefootnote" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}