{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Sign in with GOV.UK One Login" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/nursery-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in with GOV.UK One Login</h1>

    <p class="govuk-body">
      You will need to sign in to your GOV.UK One Login account to apply. If you don't
      have an account yet, we will help you create one.
    </p>

    <p class="govuk-body">To create a GOV.UK One Login account, you will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email address</li>
      <li>
        a way to get security codes - this can be a mobile phone number or an
        authenticator app
      </li>
    </ul>

    <p class="govuk-body">
      When you have signed in to GOV.UK One Login, you will return to this service
      to complete your application.
    </p>

    <p class="govuk-body">
      You must prove your identity using the GOV.UK One Login service to
      submit a claim for a recognition payment.
    </p>

    <form action="/check-one-login-journey" method="get">
      {{ govukButton({
        text: "Continue"
      }) }}

      <p class="govuk-body-s govuk-!-margin-bottom-2">Prototype journey selector</p>

      {{ govukRadios({
        classes: "govuk-radios--small",
        name: "oneLoginJourney",
        fieldset: {
          legend: {
            text: "Choose a One Login journey",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "signed-in",
            text: "signed in journey",
            checked: true
          },
          {
            value: "signed-out",
            text: "signed out journey"
          },
          {
            value: "sign-up",
            text: "sign up journey"
          }
        ]
      }) }}
    </form>
  </div>
</div>
{% endblock %}
