{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Accept payment" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm-eligibility"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You may be eligible for a recognition payment of up to £4,500</h1>

    <p class="govuk-body">
      We've confirmed your identity and that you have an eligible qualification. We still need to review your employment evidence before we can make a decision.
    </p>

    <h2 class="govuk-heading-m">Before you continue your claim</h2>

    <p class="govuk-body">
      The payment may affect your finances. You should check how it could impact you before you decide whether to accept it. While the payment is £4,500, the amount paid into your account may be lower if you need to pay tax or repay your student loan. 
    </p>

    <h3 class="govuk-heading-s">Student loan deductions</h3>

    <p class="govuk-body">
      If you are currently repaying a student loan, a deduction from your payment will go towards repaying it.
    </p>

    <h3 class="govuk-heading-s">Income tax</h3>

    <p class="govuk-body">
      If you pay <a target="_blank" href="https://www.gov.uk/income-tax-rates#income-tax-rates-and-bands" class="govuk-link govuk-link--no-visited-state">the basic rate of Income Tax</a>,
      we will pay tax and National Insurance for you and you will receive the full
      amount. You may have to pay additional Income Tax if you pay the higher rate.
    </p>

    <h3 class="govuk-heading-s">Benefits</h3>

    <p class="govuk-body govuk-!-margin-bottom-8">
      The payment may affect any benefits you receive. You should
      <a target="_blank" href="https://www.gov.uk/benefits-calculators" class="govuk-link govuk-link--no-visited-state">check how they might be affected</a> before
      you accept the payment.
    </p>

    <form action="/confirm-where-you-work" method="get">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "accept-payment",
        name: "acceptPayment",
        fieldset: {
          legend: {
            text: "Do you want to continue the payment?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "If you click no, you'll cancel your claim and exit the service."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
