{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageName = "Your document has been uploaded successfully" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm-where-you-work-uploaded-documents"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Your document has been uploaded successfully",
      classes: "govuk-panel--confirmation"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We'll review your documents to confirm where you work.</p>

    {{ govukButton({
      text: "Save and continue",
      href: "/confirm-eligibility"
    }) }}
  </div>
</div>
{% endblock %}
