{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Do you hold one of these teaching qualifications" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/nursery-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> <!-- //action="/check-teaching-qualification" -->
    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="eligible-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Check that you are eligible
          </h1> </legend>
          <div id="eligible-hint" class="govuk-hint">You must meet the <a class="govuk-link govuk-link--no-visited-state" href="http://localhost:3000/guidance#eligibility">eligiblity criteria</a> for the early years teacher recognition payment. Select all that apply. </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="eligible" name="eligible" type="checkbox" value="time">
              <label class="govuk-label govuk-checkboxes__label" for="eligible"> I spend at least 50% of my working time fulfilling the role of an early years teacher, as set out in the <a target="_blank" class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-years-teachers-standards">Early years teacher standards</a> </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="eligible-2" name="eligible" type="checkbox" value="performance">
              <label class="govuk-label govuk-checkboxes__label" for="eligible-2">I am not currently subject to any formal performance measures as a result of continuous poor teaching standards or disciplinary action </label>
            </div>
          </div>
          
        </fieldset>
      </div>



      {{ govukButton({
        text: "Confirm and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
