{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Do you hold one of these teaching qualifications" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/nursery-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">

      
      <h1 class="govuk-heading-l">
        Check if you’re eligible
      </h1>

      <p>You must meet the <a class="govuk-link govuk-link--no-visited-state" href="http://localhost:3000/guidance#eligibility">eligiblity criteria</a> for the early years teacher recognition payment.</p>

      <p class="govuk-body">To be eligible, you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>spend at least half of your working time fulfilling the role of an early years teacher, as set out in the <a target="_blank" class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-years-teachers-standards">Early years teacher standards</a></li>
        <li>not be subject to formal performance measures</li>
      </ul>

      {{ govukRadios({
        classes: "govuk-radios",
        name: "hasEligibleWorking",
        fieldset: {
          legend: {
            text: "Do you meet this eligibility criteria?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
