{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Claim an early years teacher recognition payment" %}

{% block pageTitle %}
  Claim an early years teacher recognition payment - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">Claim an early years teacher recognition payment</h1>

    <p class="govuk-body-l">
      How eligible early years teachers can apply for a recognition payment before 1 June 2026.
    </p>

    <p class="govuk-body">
      <strong>From:</strong>
      <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">
        Department for Education
      </a>
    </p>

    <p class="govuk-body">Applies to England</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Contents</h2>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="#overview">Overview</a></li>
      <li><a class="govuk-link" href="#what-youll-get">What you’ll get</a></li>
      <li><a class="govuk-link" href="#eligibility-criteria-and-expectations-of-teachers">Eligibility criteria and expectations of teachers</a></li>
      <li><a class="govuk-link" href="#what-you-need-to-make-a-claim">What you need to make a claim</a></li>
      <li><a class="govuk-link" href="#how-long-it-takes-to-claim">How long it takes to claim</a></li>
      <li><a class="govuk-link" href="#after-you-have-submitted">After you have submitted</a></li>
      <li><a class="govuk-link" href="#apply-for-an-early-years-teacher-recognition-payment">Apply for an early years teacher recognition payment</a></li>
      <li><a class="govuk-link" href="#contact-us">Contact us</a></li>
    </ul>

    <h2 id="overview" class="govuk-heading-l">Overview</h2>

    <p class="govuk-body">
      Eligible early years teachers can apply for a recognition payment before
      1 June 2026 in phase one of this payment scheme.
    </p>

    <h2 id="what-youll-get" class="govuk-heading-l">What you’ll get</h2>

    <p class="govuk-body">
      Eligible teachers can apply for a payment of £4,500 after tax deductions.
    </p>

    <p class="govuk-body">
      Teachers will be able to apply every year of the scheme that they are eligible.
    </p>

    <h2 id="eligibility-criteria-and-expectations-of-teachers" class="govuk-heading-l">
      Eligibility criteria and expectations of teachers
    </h2>

    <p class="govuk-body">
      To be eligible for the recognition payment in phase one, you must work within
      at least one of these eligible local authorities:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Sandwell</li>
      <li>Middlesbrough</li>
      <li>Tameside</li>
      <li>Rochdale</li>
      <li>Bolton</li>
      <li>Hartlepool</li>
      <li>Rotherham</li>
      <li>Dudley</li>
      <li>Luton</li>
      <li>Barking and Dagenham</li>
    </ul>

    <p class="govuk-body">You must also:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        hold qualified teacher status (<abbr title="qualified teacher status">QTS</abbr>),
        early years teacher status (<abbr title="early years teacher status">EYTS</abbr>)
        or early years professional status
        (<abbr title="early years professional status">EYPS</abbr>), and
      </li>
      <li>
        be directly employed to work in an eligible early years group-based setting
        that offers the early years entitlements. Eligible providers include only
        registered group-based settings (<abbr title="group-based settings">GBS</abbr>)
        delivering early years entitlements. Childminders and teachers working in
        school-based settings are not eligible.
      </li>
    </ul>

    <p class="govuk-body">
      <a class="govuk-link" href="#">
        Early years teacher recognition payment: methodology
      </a>
      gives further information on how local authority areas and early years
      group-based settings were selected.
    </p>

    <p class="govuk-body">You must also confirm that you are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        fulfilling the role of an early years teacher, as outlined in the
        <a class="govuk-link" href="https://www.gov.uk/government/publications/early-years-teachers-standards">
          Early years teacher standards
        </a>,
        for at least 50% of your time at work, and
      </li>
      <li>
        not currently subject to any formal performance measures as a result of
        continuous poor teaching standards or disciplinary action
      </li>
    </ul>

    <p class="govuk-body">
      You should also consider
      <a class="govuk-link" href="#">
        DfE’s Good practice for teachers and settings guidance
      </a>.
    </p>

    <h3 id="breaks-in-teaching" class="govuk-heading-m">Breaks in teaching</h3>

    <p class="govuk-body">
      You’re still eligible if you have some statutory breaks in your normal
      employment, such as:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>sickness</li>
      <li>maternity or paternity leave</li>
      <li>parental or adoption leave</li>
    </ul>

    <p class="govuk-body">
      If you submit a claim during statutory breaks in teaching, answer the
      questions based on your normal employment.
    </p>

    <p class="govuk-body">
      You should apply for payments as usual during any statutory breaks in
      teaching, before the claim window closes each year.
    </p>

    <h3 id="part-time-and-temporary-staff" class="govuk-heading-m">
      Part time and temporary staff
    </h3>

    <p class="govuk-body">
      All eligible staff directly employed by an eligible setting are able to claim
      a recognition payment, including those working part time or on temporary
      contracts. Agency staff that are not directly employed by the setting are
      not eligible to claim a payment.
    </p>

    <h2 id="what-you-need-to-make-a-claim" class="govuk-heading-l">
      What you need to make a claim
    </h2>

    <div class="highlight-box">

    <p class="govuk-body">You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        your
        <a class="govuk-link" href="https://www.gov.uk/guidance/teacher-reference-number-trn">
          teacher reference number (<abbr title="Teacher Reference Number">TRN</abbr>)
        </a>
        - you’ll have one if you have early years professional status
        (<abbr title="early years professional status">EYPS</abbr>), qualified
        teacher status (<abbr title="qualified teacher status">QTS</abbr>) or
        early years teacher status
        (<abbr title="early years teacher status">EYTS</abbr>)
      </li>
      <li>
        a GOV.UK One Login account to prove your identity - you’ll need a UK
        passport, UK photo driving licence or biometric residence permit to set it up
      </li>
      <li>
        your bank details, including the full name on the account, sort code and
        account number
      </li>
      <li>your gender as it appears on payroll</li>
      <li>your payslip</li>
    </ul>

    </div>

    <p class="govuk-body">
      If you need to
      <a class="govuk-link" href="https://claim-additional-payments-find-db7e9c956f5b.herokuapp.com/start">
        find a lost <abbr title="Teacher Reference Number">TRN</abbr>
      </a>,
      do this before you claim. It can take 5 working days to recover your
      <abbr title="Teacher Reference Number">TRN</abbr>.
    </p>

    <p class="govuk-body">
      If you need to set up a GOV.UK One Login account, this can take 2 weeks.
    </p>

    <h2 id="how-long-it-takes-to-claim" class="govuk-heading-l">
      How long it takes to claim
    </h2>

    <p class="govuk-body">
      If you have your <abbr title="Teacher Reference Number">TRN</abbr> and
      GOV.UK One Login account it takes around 10 minutes to submit a claim.
    </p>

    <h2 id="after-you-have-submitted" class="govuk-heading-l">
      After you have submitted
    </h2>

    <p class="govuk-body">
      If your claim is successful you will receive a single payment within 16 weeks
      of submitting your claim.
    </p>

    <p class="govuk-body">
      Payments are subject to available funding and eligibility criteria. The
      Department for Education (<abbr title="Department for Education">DfE</abbr>)
      reserve the right to close the scheme or prioritise applications if demand
      exceeds available funding.
    </p>

    <p class="govuk-body">
      Your claim may be verified with your employer, by
      <abbr title="Department for Education">DfE</abbr> or Ofsted. If a payment is
      made and you are later found to be ineligible, we reserve the right to recover
      the payment. If we receive 5 or more claims from teachers at one setting, we
      will review these applications and reserve the right to limit the number of
      claims per setting.
    </p>

    <h3 id="taxable-income-and-national-insurance" class="govuk-heading-m">
      Taxable income and National Insurance
    </h3>

    <p class="govuk-body">
      We’ll pay
      <a class="govuk-link" href="https://www.gov.uk/income-tax-rates#income-tax-rates-and-bands">
        National Insurance and basic rate Income Tax
      </a>
      for the payment on your behalf. If you are or become a higher-rate taxpayer,
      you’ll need to pay any Income Tax at the higher rate through PAYE.
    </p>

    <p class="govuk-body">
      The payment is not part of your salary from your employer. You, your employer
      or the government will not make a contribution to your pension as part of
      this payment.
    </p>

    <p class="govuk-body">
      Your payment, along with the Income Tax and National Insurance contributions
      paid on your behalf, will all count towards your income. You should consider
      how this will affect any other benefits or tax credits.
    </p>

    <h3 id="student-loan-deductions" class="govuk-heading-m">Student loan deductions</h3>

    <p class="govuk-body">
      If you have a
      <a class="govuk-link" href="https://www.gov.uk/repaying-your-student-loan/when-you-start-repaying">
        student loan
      </a>
      you’re currently paying off, a deduction will go towards repaying it. This
      is automatically taken from your payment.
    </p>

    <h2 id="apply-for-an-early-years-teacher-recognition-payment" class="govuk-heading-l">
      Apply for an early years teacher recognition payment
    </h2>

    <p class="govuk-body">
      You need to apply before 1 June 2026. Applications submitted after this date
      will not be considered.
    </p>

    <p class="govuk-body">
      You should ensure you have set aside time to complete your application before
      the closing date.
    </p>

    <p class="govuk-body">
      This is an initial pilot of the service and we plan to launch the full
      service later in 2026. If you are eligible for the pilot but did not make
      a claim, you may be able to claim when the full service is live.
    </p>

    {{ govukButton({
      text: "Apply to claim a payment",
      href: "/",
      isStartButton: true
    }) }}

    <h2 id="contact-us" class="govuk-heading-l">Contact us</h2>

    <p class="govuk-body">
      If you have any questions, email
      <a class="govuk-link" href="mailto:EYTrecognitionpayment@education.gov.uk">
        EYTrecognitionpayment@education.gov.uk
      </a>
    </p>
  </div>
</div>
{% endblock %}