{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Claim an early years teacher recognition payment" %}

{% block pageTitle %}
  Claim an early years teacher recognition payment - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">Good practice for teachers and settings</h1>

    <p class="govuk-body">
      <strong>From:</strong>
      <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">
        Department for Education
      </a>
    </p>

    <p class="govuk-body">Applies to England</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govspeak">
        <p>
          DfE recognises that every early years setting is different and that teachers working within these settings work differently.
        </p>

        <p>
          In addition to the eligibility criteria and expectations, we have set out the following good practice guidance that we encourage all early years teachers, and their settings, to follow.
        </p>

        <p><strong>Teachers should:</strong></p>

        <ul class="govuk-list govuk-list--bullet">
          <li>act as pedagogical leaders within their settings and communities</li>
          <li>
            fulfil the role of an early years teacher, as outlined in the 
            <a href="/government/publications/early-years-teachers-standards" class="govuk-link">
              early years teacher standards
            </a>. 
            This could be through working directly with children, working more widely in a setting, doing activities such as curriculum planning or supporting other staff, or a combination of both. In order to be eligible for the recognition payment, applicants must confirm they are meeting these expectations for at least 50% of their time at work
          </li>
          <li>
            keep their knowledge and skills up to date through ongoing continuing professional development (CPD) relevant to their role and early years setting, for example the 
            <a href="/government/publications/early-years-leadership-national-professional-qualification" class="govuk-link">
              Early years leadership national professional qualification
            </a> and the 
            <a href="/government/publications/early-years-child-development-training" class="govuk-link">
              Early years child development training
            </a>
          </li>
          <li>
            where relevant, work across the full early years age range, including babies and children under the age of 3
          </li>
          <li>
            engage with local networks, families and communities, for example through 
            <a href="/government/collections/stronger-practice-hubs" class="govuk-link">
              stronger practice hubs
            </a> or 
            <a href="/government/publications/family-hubs" class="govuk-link">
              family hubs
            </a>, where relevant
          </li>
        </ul>

        <p><strong>Settings should:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            support teachers to complete their role as outlined in the 
            <a href="/government/publications/early-years-teachers-standards" class="govuk-link">
              Early years teachers’ standards
            </a> and this good practice guidance, including support for CPD
          </li>
          <li>
            not reduce or offset salaries as a result of an early years teacher recognition payment
          </li>
        </ul>

        

    </div>
  </div>
</div>
{% endblock %}