{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "How we will use your information" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/accept-payment"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How we will use your information</h1>

    <h2 class="govuk-heading-m">Student loan deductions</h2>

    <p class="govuk-body">
      We'll check if you're repaying a student loan. If you are, we'll take the right
      amount from your recognition payment automatically.
    </p>

    <h2 class="govuk-heading-m">Income Tax</h2>

    <p class="govuk-body">
      We'll check if you pay the higher rate of Income Tax. If you do, we'll take
      any extra tax you owe from your payment. You do not need to do anything.
    </p>

    <h2 class="govuk-heading-m">To pay you</h2>

    <p class="govuk-body">
      The Department of Education (DfE) will make the payment directly to you.
      To complete the rest of your application, you will need you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>home address</li>
      <li>gender</li>
      <li>bank account details</li>
    </ul>

    {{ govukButton({
      text: "Continue",
      href: "/home-address"
    }) }}
  </div>
</div>
{% endblock %}
