{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Claim prototype space</h1>

    <h2 class="govuk-heading-m">Early years prototype</h2>

    <p class="govuk-body">
      Prototype area for Early years front end service.
    </p>

    

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/v3/" class="govuk-link govuk-link--no-visited-state">V3</a> is saved in a folder which is private beta launch, but still needs to be linked up.
      </li>
      <li>
        <a href="/start" class="govuk-link govuk-link--no-visited-state">start</a> will take you to the start page for the service with any new changes post private beta launch.
      </li>
    </ul>

    <a href="/start" class="govuk-button" data-module="govuk-button">
      View latest EY prototype
    </a>

    <h2 class="govuk-heading-m">Self serve</h2>

    <p class="govuk-body">
      Prototype area for self service / Ops area back end.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/ops/" class="govuk-link govuk-link--no-visited-state">/ops</a> will take you to a prototype of the operations area for the service with any new concepts.
      </li>
    </ul>

    <a href="/ops/" class="govuk-button" data-module="govuk-button">
      View self serve prototype
    </a>

  </div>
</div>

{% endblock %}
