{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">We've already received a claim with this teacher reference number (TRN)</h1>

    <p class="govuk-body">
      We've already received a claim using this TRN. You can only submit one claim.
    </p>

    <h2 class="govuk-heading-m">Check the progress of your claim</h2>

    <p class="govuk-body">
      You can check the progress of your claim using your claim reference number. </p>
    <p class="govuk-body">

    You'll find your claim reference number in the confirmation email we sent when you submitted your claim.
    </p>

    <p class="govuk-body">
      If you need to change any details in your claim, such as your bank details, contact  <a href="mailto:EY-teacher.recognitionpayment@education.gov.uk" class="govuk-link">EY-teacher.recognitionpayment@education.gov.uk</a>. 
    </p>

    <a href="/check_progress" class="govuk-button" data-module="govuk-button">
      Check claim progress
    </a>

  </div>
</div>

{% endblock %}
