{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation govuk-panel--informational">
      <h1 class="govuk-panel__title">
        You've already submitted a claim in this claim window
      </h1>
      
      <div class="govuk-panel__body">
        <p class="govuk-body-l govuk-!-color-white" style="color:white;">
          The claim you submitted has the reference number <b>RERNCZ9F</b>
        </p>
  
        
      </div>
      
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-m">Check the progress of your claim</h2>

    <p class="govuk-body">
      You can check the progress of your claim using your claim reference number. </p>
    <p class="govuk-body">

    You'll find your claim reference number in the confirmation email we sent when you submitted your claim.
    </p>

    <a href="/check_progress" class="govuk-button" data-module="govuk-button">
      Check claim progress
    </a>

  </div>
</div>

{% endblock %}
