{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Claim an early years teacher recognition payment" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">A claim has already been submitted with this teacher reference number (TRN)</h1>

    <p class="govuk-body">
      A claim has been found with the teacher reference number (TRN) you entered. You can only submit one claim for the early years teacher recognition payment.
    </p>

    <h2 class="govuk-heading-m">Check the progress of your claim</h2>

    <p class="govuk-body">
      You can use your claim reference number to check the progress of your claim. You can find your claim reference number in the confirmation email you received when you submitted your claim.
    </p>

    <a href="/check_progress" class="govuk-button" data-module="govuk-button">
      Check claim progress
    </a>

  </div>
</div>

{% endblock %}
