{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Sign in with GOV.UK One Login" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/nursery-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in with GOV.UK One Login</h1>

    <p class="govuk-body">
      You will need to sign in to your GOV.UK One Login account to apply. If you don't
      have an account yet, we will help you create one.
    </p>

    <p class="govuk-body">To create a GOV.UK One Login account, you will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email address</li>
      <li>
        a way to get security codes - this can be a mobile phone number or an
        authenticator app
      </li>
    </ul>

    <p class="govuk-body">
      When you have signed in to GOV.UK One Login, you will return to this service
      to complete your application.
    </p>

    <p class="govuk-body">
      You must prove your identity using the GOV.UK One Login service in order to
      submit a claim for a recognition payment.
    </p>

    <p class="govuk-body">
      {{ govukButton({
        text: "Continue",
        href: "/one-login-continue-to-service"
      }) }}

      <span class="govuk-body-s govuk-!-margin-left-4">signed in journey</span>
    </p>

    <p class="govuk-body">
      {{ govukButton({
        text: "Continue",
        href: "/one-login-sign-in-email"
      }) }}

      <span class="govuk-body-s govuk-!-margin-left-4">signed out journey</span>
    </p>

    <p class="govuk-body">
      {{ govukButton({
        text: "Continue",
        href: "/one-login-sign-up-email"
      }) }}

      <span class="govuk-body-s govuk-!-margin-left-4">sign up journey</span>
    </p>
  </div>
</div>
{% endblock %}
