{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageName = "Check your phone" %}

{% block pageBeforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/one-login-sign-in-password"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your phone</h1>

    <p class="govuk-body">
      We have sent a code to your phone number ending in ***5.
    </p>

    <form action="/one-login-continue-to-service" method="get">
      {{ govukInput({
        label: {
          text: "Security code",
          classes: "govuk-label--m"
        },
        id: "security-code",
        name: "securityCode",
        inputmode: "numeric",
        autocomplete: "one-time-code",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
